<div class="container">
    <div class="footer-content">
      <div class="footer-infos"> 
        <!-- FOOTER LOGO START -->
        <figure class="footer-logo"> <a href="/" class="logo"> <img src="http://www.mentionsound.com/frontend/images/logo-white.png" alt="site-logo"> </a>
          <div id="google_translate_element" class="change-language"></div>
        </figure>
        <!-- FOOTER LOGO END --> 
        
        <!-- FOOTER NAV START -->
        <nav class="footer-nav">
          <div class="footlist-info">
            <h4 class="footlist-title">Product</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="/browse" class="footlist-link">Browse Sounds</a> </li>
              <li class="footlist-item"> <a href="/products" class="footlist-link">Pricing</a> </li>
              <li class="footlist-item"> <a href="/faq" class="footlist-link">FAQ</a> </li>
            </ul>
          </div>
          <div class="footlist-info">
            <h4 class="footlist-title">Company</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="/job" class="footlist-link">Jobs</a> </li>
              <li class="footlist-item"> <a href="/" class="footlist-link">Blog</a> </li>
              <li class="footlist-item"> <a href="/education" class="footlist-link">Education</a> </li>
              <li class="footlist-item"> <a href="/contact" class="footlist-link">Contact</a> </li>
              <li class="footlist-item"> <a href="/affiliate" class="footlist-link">Affiliates</a> </li>
            </ul>
          </div>
          <div class="footlist-info">
            <h4 class="footlist-title">Legal</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="/license" class="footlist-link">Licence</a> </li>
              <li class="footlist-item"> <a href="/tos" class="footlist-link">Terms of Use</a> </li>
              <li class="footlist-item"> <a href="/privacy" class="footlist-link">Privacy Policy</a> </li>
            </ul>
          </div>
        </nav>
        <!-- FOOTER NAV END --> 
        
        <!-- FOOTER SOCIAL LIST START -->
        <ul class="social-list">
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-twitter"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
        <!-- FOOTER SOCIAL LIST END --> 
        
      </div>
      <div class="copyright">
        <p class="copyright-text">mentionsound is owned and operated by SAVEXPERT LTD</p>
        <p class="copyright-text">Company number HE 417967</p>
        <p class="copyright-text">Office Stavrou, 79 Strovolos, 2035, Nicosia, Cyprus</p>
        <p class="copyright-text">Governed and controlled by the laws of the Cyprus</p>
        <p class="copyright-text">mentionsound &copy; 2021, All rights reserved.</p>
      </div>
    </div>
</div>