<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pure Sounds | Affiliates Program</title>
<!-- SITE FAVICON -->
<link rel="shortcut icon" href="" type="image/png">
<!-- FONT AWESOME CDN -->
<link rel="stylesheet" href="/frontend/css/all.min.css">
<link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
<!-- CUSTOM STYLESHEET LINK -->
<link rel="stylesheet" href="/frontend/css/style.css">
</head>
<body>
<!-- AFFELIATES HEADER SECTION START -->
<header class="affeliates-header">
  <div class="headerbox"> 
    <!-- COMPANY BRAND START -->
    <figure class="brand"> <a href="/" class="logo"> <img src="frontend/images/logo-white.png" alt="site-logo"> </a> </figure>
    <!-- COMPANY BRAND END -->
    
    <h1 class="title">mentionsound  Affiliate Program</h1>
    <p class="text">Earn up to $124.50 for every person that signs up through your link</p>
    <a href="/register" class="btn-sound">Signup Today</a> </div>
  <div class="coverbox"> <img src="frontend/images/affeliates-banner.jpeg" alt="header-cover-banner"> </div>
</header>
<!-- AFFELIATES HEADER SECTION END --> 

<!-- HOME DISCOVER SECTION START -->
<section class="home-discover affeliates-discover">
  <div class="container">
    <div class="home-discover-content">
      <h1 class="discover-title">Introduce your users to the most widely used sound effects platform</h1>
      <div class="discover-counters">
        <div class="card-counter">
          <h1 class="counter-title" data-targets="2901409">0</h1>
          <p class="counter-text">Registered Users</p>
        </div>
        <div class="card-counter">
          <h1 class="counter-title" data-targets="449779">0</h1>
          <p class="counter-text">Sound Effects, Updated Weekly</p>
        </div>
      </div>
      <div class="discovers">
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/discover/sound.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">A focus on Sound</h4>
            <p class="text"> mentionsound  focuses solely on professional sound effects, with curated sounds added weekly. </p>
          </div>
        </div>
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/discover/twice.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">Twice as Big</h4>
            <p class="text"> We are the first and most popular sfx library for unlimited downloads - twice as big as most others. </p>
          </div>
        </div>
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/discover/royality.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">Royalty Free Sound Effects</h4>
            <p class="text"> You can use any sound as many times as you like, without any extra fees. </p>
          </div>
        </div>
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/discover/service.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">Great Customer Service</h4>
            <p class="text"> Our support staff promises to respond to all inquiries within 24 hours. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- HOME DISCOVER SECTION END --> 

<!-- AFFILIATE PLATFORM SECTION START -->
<section class="affiliate-platform">
  <div class="coverbox"> <img src="frontend/images/affeliate-banner-2.jpeg" alt="header-cover-banner"> </div>
  <div class="headerbox">
    <h1 class="title">Why Join Our Platform?</h1>
    <ul class="platformlist">
      <li class="platformlist-item">Earn 50% of every new sign up that you refer (Industry leading payout)</li>
      <li class="platformlist-item">Monthly Payout via PayPal</li>
      <li class="platformlist-item">Portal with access to marketing assets and reports on your progress</li>
      <li class="platformlist-item">Bonus if you refer more than 10 subscribers in a three month period (additional $250)</li>
    </ul>
    <a href="/register" class="btn-sound">Signup Today</a> </div>
</section>
<!-- AFFILIATE PLATFORM SECTION END --> 

<!-- HOME DISCOVER SECTION START -->
<section class="home-discover affeliates-discover">
  <div class="container">
    <div class="home-discover-content">
      <h1 class="discover-title">mentionsound is Perfect For</h1>
      <div class="discovers">
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/affiliate/film.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">Film Makers & Editors</h4>
            <p class="text"> From indie to blockbuster, mentionsound sound effects are a key tool for all levels of the film industry. </p>
          </div>
        </div>
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/affiliate/speaker.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">Sound Designers</h4>
            <p class="text"> Sound Designers love our broad catalogue and high quality files to help build out their projects </p>
          </div>
        </div>
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/affiliate/game.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">Game Designers</h4>
            <p class="text"> With such a large and diverse library game designers are saving thousands on their game budgets by using the mentionsound library. </p>
          </div>
        </div>
        <div class="card-discover">
          <div class="card-discover-header">
            <div class="card-cap"> <img src="frontend/images/affiliate/mic.png" alt="discover-image"> </div>
          </div>
          <div class="card-discover-body">
            <h4 class="title">All Creators</h4>
            <p class="text"> From podcasts to YouTube to local theatre, if your project needs to build an audio landscape you'll find what you need on Puresounds. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- HOME DISCOVER SECTION END --> 

<!-- AFFILIATE-FAQ SECTION START -->
<section class="affiliatefaq">
  <div class="container-lg container-fluid">
    <div class="affiliatefaq-content">
      <h2 class="faq-title">Affiliate FAQs</h2>
      <div class="accordion" id="accordionFAQ">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> <span class="text">Affiliate FAQs Who can I refer to Puresounds?</span> </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="faqOne" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> Anyone who has the need for sound effects in their project. Our customer clientele ranges from major studios to hobbyists. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <span class="text">Where can I find my personal referral link?</span> </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="faqTwo" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> When you are logged in, you can find your link by <a href="/register" class="link">clicking here!</a> You can copy your unique referral link by tapping the button next to the URL, or by selecting the URL and CMD+C or Ctrl+C. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <span class="text">How much can I earn?</span> </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="faqThree" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> There is no cap on how many creators you can invite, and there is no limit to how much you can earn. Every signup referred through your link will earn you 50% of their total subscription fee. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> <span class="text">Is there a way for me to track my referral status?</span> </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="faqFour" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text">You can track how many people have signed up through your link here. This page will also show how much you have earned, how much you are owed and other data relating to your referrals.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> <span class="text">How do I get my friends and followers to click on my unique referral link?</span> </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="faqFive" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text">Once you have copied your unique referral link, you can easily paste it in your video description on YouTube, tweet the link to your followers, write up a review and link on your blog or push it on any of the platforms where you engage with your followers.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> <span class="text">My referral forgot to use my referral link. Is there a way to track it back to my account?</span> </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="faqSix" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> Unfortunately no, we are unable to track referrals back to your account if they didn’t use your unique referral link when signing up. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"> <span class="text">When and how will I receive my payment?</span> </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="faqSeven" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> We pay our affiliates via PayPal toward the end of each month. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"> <span class="text">What happens if I cancel my subscription while I have outstanding referrals?</span> </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="faqEight" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> No problem – taking part in the referral scheme is not dependent on being an active subscriber. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"> <span class="text">How long is the cookie valid for?</span> </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="faqNine" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> Our cookie is valid for 30 days. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen"> <span class="text">Can I change my referral url?</span> </button>
          </h2>
          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="faqTen" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> Yes, if you click <a href="/register" class="link">this page</a> once you are signed up you can click the advanced option in the top right of the page where you will see the option to permanently change your referral code. Important note if you change your referral code you will need to change any existing links you have previously shared. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven"> <span class="text">What do my referrals get when they sign-up through my link?</span> </button>
          </h2>
          <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="faqEleven" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> They will get access to our library of over 400,000 sound effects. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve"> <span class="text">Why is mentionsound a great service to refer to my followers and friends?</span> </button>
          </h2>
          <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="faqTwelve" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> The subscription that mentionsound offers gives users the absolute best value available for sound effects. When it comes to sound effects, foley, sound design, or any other film making technique referring your users to mentionsound will ensure they have the best sound effects source available online, and that you make a healthy profit. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen"> <span class="text">How do I become an Affiliate?</span> </button>
          </h2>
          <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="faqThirteen" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              <p class="text"> If you are also interested in becoming an affiliate, you can send us your application here and our team will get back to you if we are able to get you on board! For any other questions about our Affiliate Program, please get in touch with the affiliate team at affiliates@puresounds.com. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- AFFILIATE-FAQ SECTION END --> 

<!-- FOOTER SECTION START -->
<footer class="footer">
  <%- include('../layouts/footer'); %>
</footer>
<!-- FOOTER SECTION END --> 

<!-- BOOTSTRAP SCRIPT --> 
<script src="frontend/js/bootstrap.bundle.min.js"></script> 
<script src="frontend/js/counter.js"></script>
</body>
</html>