<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="csrf-token" content="uacWIBq0fOqJC8cCBeI6FzHVlZgWO31KZVMiswc4">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="mentionsound">
<title>Buy Sound Effects | mentionsound</title>
<!-- SITE FAVICON -->
<link rel="shortcut icon" href="" type="image/png">
<!-- FONT AWESOME CDN -->
<!-- BOOTSTRAP LINK -->
<link rel="stylesheet" href="/frontend/css/all.min.css">
<link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
<!-- CUSTOM STYLESHEET LINK -->
<link rel="stylesheet" href="/frontend/css/style.css">
<script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }

    </script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
<!-- HOME HEADER SECTION START -->
<div class="header-wrapper"> 
  <!-- HOME HEADER START -->
  <header class="home-header">
    <div class="headermenu"> 
      <!-- COMPANY BRAND START -->
      <figure class="brand"> <a href="/" class="logo"> <img src="frontend/images/logo.png" alt="site-logo"> </a> </figure>
      <!-- COMPANY BRAND END --> 
      
      <!-- MOBILE MENU HAMBURGER-ICON START -->
      <button class="hamburger-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg> </button>
      <!-- MOBILE MENU HAMBURGER-ICON END --> 
      
      <!-- MOBILE MENU SIDEBAR START -->
      <aside class="mobile-menu-sidebar">
        <div class="offcanvas offcanvas-start mobmenu" data-bs-scroll="true" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
          <div class="offcanvas-header"> 
            <!-- COMPANY BRAND START --> 
            <a href="/" class="logo"> <img src="frontend/images/logo-white.png" alt="site-logo"> </a> 
            <!-- COMPANY BRAND END -->
            
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
            </svg> </button>
          </div>
          <div class="offcanvas-body">
            <nav class="mobile-nav">
              <div class="mobilemenu"> 
                <!-- MAIN MENU START -->
                <ul class="mobile-menu-list">
                  <li class="mobile-menu-list-item"> <a href="/products" class="mobile-menu-list-link">PRICING</a> </li>
                  <li class="mobile-menu-list-item"> <a href="" class="mobile-menu-list-link">BLOG</a> </li>
                  <li class="mobile-menu-list-item"> <a href="/faq" class="mobile-menu-list-link">FAQ</a> </li>
                  <li class="mobile-menu-list-item"> <a href="/sfxhd" class="mobile-menu-list-link">SFXHD</a> </li>
                </ul>
                <!-- MAIN MENU END -->
                
                <div class="divider"></div>
                
                <!-- LOGGED IN MENU START --> 
                
                <!-- LOGGED IN MENU END --> 
                
              </div>
              
              <!-- LOGIN-REGISTER MODAL LIST START -->
              
              <ul class="mobilelogin-register-list">
                <!-- CLICK FOR LOGIN -->
                
                <li class="mobilelogin-register-list-item"> <a href="/login" class="mobilelogin-register-list-link"> Login </a> </li>
                <!-- CLICK FOR REGISTER -->
                <li class="mobilelogin-register-list-item"> <a href="/register" class="mobilelogin-register-list-link"> Register </a> </li>
                <!-- CLICK FOR LOGIN -->
                
              </ul>
              <!-- LOGIN-REGISTER MODAL LIST END --> 
              
            </nav>
          </div>
        </div>
      </aside>
      <!-- MOBILE MENU SIDEBAR END --> 
      
      <!-- SEARCH FORM START -->
      <form class="search-form">
        <button class="btn-search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
        <div class="inputbox">
          <input type="search" placeholder="Search for sound effects" autocomplete="off" class="search-input" id="search-field">
          <div class="loaderbox">
            <div class="loading-spinner"></div>
          </div>
        </div>
        
        <!-- SEARCH SUGGESTIONS START -->
        <div class="search-suggestions">
          <ul class="suggestion-list" id="setsuggestionlist">
          </ul>
        </div>
        <!-- SEARCH SUGGESTIONS END -->
      </form>
      
      <!-- MOBILE SEARCH ICON START -->
      <div class="responsive-search">
        <button class="btn-responsivesearch"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
      </div>
      <!-- SEARCH FORM ICON END --> 
      
      <!-- HEADER MAIN NAV START -->
      <nav class="main-nav"> 
        <!-- MAIN MENU START -->
        <ul class="main-list">
          <li class="main-list-item"> <a href="/products" class="main-list-link">PRICING</a> </li>
          <li class="main-list-item"> <a href="https://www.mentionsound.net" class="main-list-link">BLOG</a> </li>
          <li class="main-list-item"> <a href="/faq" class="main-list-link">FAQ</a> </li>
          <li class="main-list-item"> <a href="/sfxhd" class="main-list-link">SFXHD</a> </li>
        </ul>
        <!-- MAIN MENU END --> 
        
        <!-- LOGIN REGISTER PAGE LINK -->
        <ul class="login-register-list">
          <!-- CLICK FOR LOGIN -->
          <li class="login-register-modal-list-item"> <a href="/login" class="login-register-modal-list-link"> Login </a> </li>
          <!-- DIVIDER -->
          <li class="login-register-list-item">/</li>
          <!-- CLICK FOR REGISTER -->
          <li class="login-register-modal-list-item"> <a href="/register" class="login-register-modal-list-link"> Register </a> </li>
        </ul>
        <!-- LOGIN-REGISTER PAGE END --> 
        <!-- LANGUAGE CHANGE SECTION START --> 
        
        <!-- LANGUAGE CHANGE SECTION END --> 
        
        <!-- SOCIAL-LIST START -->
        <ul class="social-list">
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-twitter"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
        <!-- SOCIAL-LIST END --> 
      </nav>
      <!-- HEADER MAIN NAV END --> 
    </div>
    
    <!-- MOBILE SEARCH BOX START -->
    <div class="responsive-search-box">
      <form class="responsive-search-form">
        <button class="btn-search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
        <div class="inputbox">
          <input type="search" placeholder="Search for sound effects" autocomplete="off" class="search-input" id="responsivesearch-field">
          <div class="loaderbox">
            <div class="loading-spinner"></div>
          </div>
        </div>
        
        <!-- SEARCH SUGGESTIONS START -->
        <div class="search-suggestions mobile-suggestions">
          <ul class="suggestion-list" id="setsuggestionlistmob">
          </ul>
        </div>
        <!-- SEARCH SUGGESTIONS END -->
      </form>
    </div>
    <!-- MOBILE SEARCH BOX END -->
    
    <div class="header-overlay"></div>
  </header>
  <!-- HOME HEADER END --> 
</div>
<!-- HOME HEADER SECTION END --> 

<!-- BROWSE SOUND BANNER START -->
<section class="browsesound">
  <div class="container">
    <div class="browsesound-content">
      <h1 class="browse-title">Browse Sounds</h1>
    </div>
  </div>
</section>
<!-- BROWSE SOUND BANNER END --> 

<!-- BROWSE CATEGORY SECTION START -->
<main class="browsemain">
  <div class="container">
    <div class="browsemain-content">
      <p class="browsemain-title">Start by looking at our categories below</p>
      <div class="browsecategories">
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/animals" class="title">Animals</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/animals/birds" class="categorylist-link">Birds</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/animals/dinosaurs" class="categorylist-link">Dinosaurs</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/animals/domestic-animal" class="categorylist-link">Domestic animal</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/animals/farm-animals" class="categorylist-link">Farm Animals</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/animals/horses-donkeys" class="categorylist-link">Horses/ Donkeys</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/animals/insects" class="categorylist-link">Insects</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/ca-sound" class="title">CA Sound</a> </h2>
          <ul class="categorylist">
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/comic-film-fx" class="title">Comic &amp; Film Fx</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/alarms" class="categorylist-link">Alarms</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/balloon" class="categorylist-link">Balloon</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/whoosh" class="categorylist-link">Whoosh</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/other-comic-film-fx" class="categorylist-link">Other Comic &amp; Film FX</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/weapons" class="categorylist-link">Weapons</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/impact-crash" class="categorylist-link">Impact/ crash</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/whoosh-swish" class="categorylist-link">Whoosh/ swish</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/rattle-shake" class="categorylist-link">Rattle/ shake</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/rustle-crumble" class="categorylist-link">Rustle/ crumble</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/comic-film-fx/scrape" class="categorylist-link">Scrape</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/exteriors" class="title">Exteriors</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/exteriors/beach" class="categorylist-link">Beach</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/cafe-restaurant" class="categorylist-link">Cafe/ Restaurant</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/city" class="categorylist-link">City</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/countryside" class="categorylist-link">Countryside</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/market" class="categorylist-link">Market</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/other-exteriors" class="categorylist-link">Other exteriors</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/forest" class="categorylist-link">Forest</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/town" class="categorylist-link">Town</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/stations" class="categorylist-link">Stations</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/exteriors/street" class="categorylist-link">Street</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/exteriors-street" class="title">Exteriors/ Street</a> </h2>
          <ul class="categorylist">
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/house" class="title">House</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/house/bathroom" class="categorylist-link">Bathroom</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/house/other-objects" class="categorylist-link">Other objects</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/human" class="title">Human</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/human/applause" class="categorylist-link">Applause</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/babies" class="categorylist-link">Babies</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/bodily-functions" class="categorylist-link">Bodily Functions</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/body-damage" class="categorylist-link">Body Damage</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/body-fall" class="categorylist-link">Body Fall</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/children" class="categorylist-link">Children</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/crowds" class="categorylist-link">Crowds</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/footsteps" class="categorylist-link">Footsteps</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/mouth" class="categorylist-link">Mouth</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/human/speech" class="categorylist-link">Speech</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/industry-and-machines" class="title">Industry and Machines</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/industry-and-machines/air-condition" class="categorylist-link">Air Condition</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/industry-and-machines/cameras" class="categorylist-link">Cameras</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/industry-and-machines/communications" class="categorylist-link">Communications</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/industry-and-machines/computers" class="categorylist-link">Computers</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/industry-and-machines/elevators" class="categorylist-link">Elevators</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/industry-and-machines/other-industry-and-machines" class="categorylist-link">Other industry and machines</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/industry-and-machines/toys" class="categorylist-link">Toys</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/interiors" class="title">Interiors</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/interiors/airport" class="categorylist-link">Airport</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/restaurant" class="categorylist-link">Restaurant</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/house-apartment" class="categorylist-link">House/ apartment</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/other-interiors" class="categorylist-link">Other interiors</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/cafe" class="categorylist-link">Cafe</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/museum" class="categorylist-link">Museum</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/gamehall" class="categorylist-link">Gamehall</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/supermarket" class="categorylist-link">Supermarket</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/interiors/station" class="categorylist-link">Station</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/marcel-gnauk" class="title">Marcel Gnauk</a> </h2>
          <ul class="categorylist">
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/multimedia" class="title">Multimedia</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/multimedia/alerts" class="categorylist-link">Alerts</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/multimedia/power-up" class="categorylist-link">Power up</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/multimedia/other-buttons" class="categorylist-link">Other buttons</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/multimedia/power-down" class="categorylist-link">Power down</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/multimedia/beeps" class="categorylist-link">Beeps</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/multimedia/navigation" class="categorylist-link">Navigation</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/music-loops" class="title">Music loops</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/music-loops/blues-jazz-funk-soul" class="categorylist-link">Blues/ jazz/ funk/ soul</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-loops/folk-country" class="categorylist-link">Folk/ country</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-loops/electronic-dance" class="categorylist-link">Electronic/ dance</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-loops/other-music-loops" class="categorylist-link">Other music loops</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/music-samples-single" class="title">Music samples (single)</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/music-samples-single/drums-percussion" class="categorylist-link">Drums/ percussion</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-samples-single/other-music-samples" class="categorylist-link">Other music samples</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-samples-single/piano" class="categorylist-link">Piano</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-samples-single/electric-piano" class="categorylist-link">Electric piano</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-samples-single/organ" class="categorylist-link">Organ</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/music-samples-single/bass" class="categorylist-link">Bass</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/nature" class="title">Nature</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/nature/metal" class="categorylist-link">Metal</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/nature/wind" class="categorylist-link">Wind</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/science-fiction" class="title">Science fiction</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/science-fiction/aliens" class="categorylist-link">Aliens</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/science-fiction/robots" class="categorylist-link">Robots</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/science-fiction/blips" class="categorylist-link">Blips</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/science-fiction/circuits" class="categorylist-link">Circuits</a> </li>
            <li class="categorylist-item"> <a href="/subcategory/science-fiction/spacecraft" class="categorylist-link">Spacecraft</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
        <div class="browsecategory">
          <h2 class="category-title"> <a href="/category/sound-art" class="title">Sound art</a> </h2>
          <ul class="categorylist">
            <li class="categorylist-item"> <a href="/subcategory/sound-art/sonic-art" class="categorylist-link">Sonic art</a> </li>
          </ul>
          <button class="view-btn">View All</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- BROWSE CATEGORY SECTION END --> 

<!-- FOOTER SECTION START -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-infos"> 
        <!-- FOOTER LOGO START -->
        <figure class="footer-logo"> <a href="https://www.mentionsound.net" class="logo"> <img src="frontend/images/logo-white.png" alt="site-logo"> </a>
          <div id="google_translate_element" class="change-language"></div>
        </figure>
        <!-- FOOTER LOGO END --> 
        
        <!-- FOOTER NAV START -->
        <nav class="footer-nav">
          <div class="footlist-info">
            <h4 class="footlist-title">Product</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="/browse" class="footlist-link">Browse Sounds</a> </li>
              <li class="footlist-item"> <a href="/products" class="footlist-link">Pricing</a> </li>
              <li class="footlist-item"> <a href="/faq" class="footlist-link">FAQ</a> </li>
            </ul>
          </div>
          <div class="footlist-info">
            <h4 class="footlist-title">Company</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="/job" class="footlist-link">Jobs</a> </li>
              <li class="footlist-item"> <a href="" class="footlist-link">Blog</a> </li>
              <li class="footlist-item"> <a href="/education" class="footlist-link">Education</a> </li>
              <li class="footlist-item"> <a href="/contact" class="footlist-link">Contact</a> </li>
              <li class="footlist-item"> <a href="/affiliate" class="footlist-link">Affiliates</a> </li>
            </ul>
          </div>
          <div class="footlist-info">
            <h4 class="footlist-title">Legal</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="/license" class="footlist-link">Licence</a> </li>
              <li class="footlist-item"> <a href="/tos" class="footlist-link">Terms of Use</a> </li>
              <li class="footlist-item"> <a href="/privacy" class="footlist-link">Privacy Policy</a> </li>
            </ul>
          </div>
        </nav>
        <!-- FOOTER NAV END --> 
        
        <!-- FOOTER SOCIAL LIST START -->
        <ul class="social-list">
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-twitter"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
        <!-- FOOTER SOCIAL LIST END --> 
        
      </div>
      <div class="copyright">
        <p class="copyright-text">mentionsound is owned and operated by Peterfield Limited </p>
        <p class="copyright-text">Company number 12795957 </p>
        <p class="copyright-text">Office 28b Cinnamon Park Crab lane, Fearnhead Warrington WA2 0XP </p>
        <p class="copyright-text">Governed and controlled by the laws of the UK </p>
        <p class="copyright-text">mentionsound &copy; 2021, All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER SECTION END --> 

<!-- BOOTSTRAP SCRIPT --> 
<script src="frontend/js/bootstrap.bundle.min.js"></script> 
<script src="frontend/js/counter.js"></script> 
<script src="frontend/js/responsive-search.js"></script> 
<script src="frontend/js/jquery-3.5.1.min.js"></script> 
<script>

    $( "#search-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#search-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){
                       $('.search-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlist').html(htmld);
                    }else{
                       $('.search-suggestions').removeClass('show');
                    }

                }
            }
        });



    if($("#search-field" ).val().length === 0){
            $('.search-suggestions').removeClass('show');
        }


    });



    $( "#responsivesearch-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#responsivesearch-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){
                       $('.mobile-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlistmob').html(htmld);
                    }else{
                       $('.mobile-suggestions').removeClass('show');
                    }

                }
            }
        });



        if($("#responsivesearch-field" ).val().length === 0){
            $('.mobile-suggestions').removeClass('show');
        }


    });


</script>
</body>
</html>
