<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pure Sounds | Contact</title>
<!-- SITE FAVICON -->
<link rel="shortcut icon" href="" type="image/png">
<!-- FONT AWESOME CDN -->
<link rel="stylesheet" href="/frontend/css/all.min.css">
<!-- BOOTSTRAP LINK -->
<link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
<!-- CUSTOM STYLESHEET LINK -->
<link rel="stylesheet" href="/frontend/css/style.css">
</head>
<body>
<!-- mentionsound HEADER START -->
<header class="mentionsound-header">
  <div class="container-lg container-fluid">
    <div class="mentionsound-header-content"> 
      <!-- COMPANY BRAND START -->
      <figure class="brand"> <a href="/" class="logo"> <img src="frontend/images/logo.png" alt="site-logo"> </a> </figure>
      <!-- COMPANY BRAND END --> 
      
      <!-- MOBILE LIST START -->
      <div class="mobilemenu">
        <button class="btn-menu collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMobileMenu" aria-expanded="false" aria-controls="collapseMobileMenu"> <svg height="384pt" viewBox="0 -53 384 384" width="384pt" xmlns="http://www.w3.org/2000/svg">
        <path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        <path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        <path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        </svg> </button>
      </div>
      <!-- MOBILE LIST END --> 
      
      <!-- DESKTOP LIST START -->
      <ul class="headerlist">
        <li class="headerlist-item"> <a href="/faq" class="headerlist-link">More Help</a> </li>
        <li class="headerlist-item">|</li>
        <li class="headerlist-item"> <a href="/contact" class="headerlist-link">Contact us</a> </li>
      </ul>
      <!-- DESKTOP LIST END --> 
    </div>
    
    <!-- MOBILE COLLAPSED MENU START -->
    <div class="collapse" id="collapseMobileMenu">
      <ul class="headermobilelist">
        <li class="headermobilelist-item"> <a href="/faq" class="headermobilelist-link">More Help</a> </li>
        <li class="headermobilelist-item">|</li>
        <li class="headermobilelist-item"> <a href="/contact" class="headermobilelist-link">Contact us</a> </li>
      </ul>
    </div>
    <!-- MOBILE COLLAPSED MENU END --> 
  </div>
</header>
<!-- mentionsound HEADER END --> 

<!-- CONTACT SECTION START -->
<main class="contact">
  <div class="container-lg container-fluid">
    <div class="contact-content">
      <div class="contact-info">
        <h1 class="contact-title">Submit a request</h1>
        <form class="contact-form">
          <div class="form-info">
            <div class="inputbox">
              <div class="inputfield">
                <label for="email" class="form-label">Email address <span class="required">*</span></label>
                <input type="email" class="form-control" id="email" autocomplete="off">
              </div>
              <div class="errorbox">
                <p class="error-message">Requester: Email: cannot be blank</p>
              </div>
            </div>
            <div class="inputbox">
              <div class="inputfield">
                <label for="subject" class="form-label">Email address <span class="required">*</span></label>
                <input type="textt" class="form-control" id="subject" autocomplete="off">
              </div>
              <div class="errorbox">
                <p class="error-message">Subject: cannot be blank</p>
              </div>
            </div>
            <div class="inputbox">
              <div class="inputfield">
                <label for="description" class="form-label">Description <span class="required">*</span></label>
                <textarea class="form-control" id="description" rows="6" autocomplete="off"></textarea>
              </div>
              <div class="errorbox">
                <p class="error-message">Description: cannot be blank</p>
              </div>
            </div>
          </div>
          <div class="drag-info">
            <p class="text">Please enter the details of your request. A member of our support staff will respond as soon as possible.</p>
            <div class="inputbox">
              <div class="inputfield">
                <label for="fileupload" class="form-label">Attachments</label>
                <div class="drop-zone">
                  <p class="drop-zone-prompt"> <span class="text">Add file</span> or drop files here </p>
                  <input type="file" name="myFile" id="fileupload" class="drop-zone-input">
                </div>
              </div>
            </div>
          </div>
          <div class="submit-form">
            <button type="button" class="btn-send btn-annual">Submit</button>
          </div>
        </form>
      </div>
      <div class="address-details">
        <div class="address">
          <h2 class="title">Contact Address</h2>
          <div class="detail">
            <p class="company">PETERFIELD LIMITED</p>
            <p class="location"> Office 28b Cinnamon Park, <br>
              Crab Lane <br>
              Fearnhead <br>
              Warrington <br>
              England <br>
              WA2 0XP </p>
          </div>
        </div>
        <div class="details">
          <h2 class="title">Contact Details</h2>
          <div class="detail">
            <p class="text">Company number:12795957</p>
            <p class="text">Governed and controlled by the laws of the United Kingdom & Ireland</p>
            <a href="/tel:+443330903010" class="link">Telephone: +44 333 090 3010</a> <a href="/mailto:admin@mentionsound.net" class="link">admin@mentionsound.net</a> </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- CONTACT SECTION END --> 

<!-- mentionsound FOOTER START -->
<footer class="mentionsound-footer">
  <div class="container-lg container-fluid">
    <div class="mentionsound-footer-content">
      <div class="copyright">
        <p class="copyright-text"> <span class="copyright-icon">&copy;</span> 2021 mentionsound </p>
        <ul class="socialmenu">
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-twitter"></i> </a> </li>
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-linkedin-in"></i> </a> </li>
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- mentionsound FOOTER END --> 

<!-- BOOTSTRAP SCRIPT --> 
<script src="frontend/js/bootstrap.bundle.min.js"></script> 
<!-- DRAG AND DROP SCRIPT --> 
<script src="frontend/js/drag.js"></script>
</body>
</html>