<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pure Sounds | FAQ</title>
<!-- SITE FAVICON -->
<link rel="shortcut icon" href="" type="image/png">
<!-- FONT AWESOME CDN -->
<link rel="stylesheet" href="frontend/css/all.min.css">
<!-- BOOTSTRAP LINK -->
<link rel="stylesheet" href="frontend/css/bootstrap.min.css">
<!-- CUSTOM STYLESHEET LINK -->
<link rel="stylesheet" href="frontend/css/style.css">


</head>
<body>
<!-- mentionsound HEADER START -->
<header class="mentionsound-header">
  <div class="container-lg container-fluid">
    <div class="mentionsound-header-content"> 
      <!-- COMPANY BRAND START -->
      <figure class="brand"> <a href="/" class="logo"> <img src="frontend/images/logo.png" alt="site-logo"> </a> </figure>
      <!-- COMPANY BRAND END --> 
      
      <!-- MOBILE LIST START -->
      <div class="mobilemenu">
        <button class="btn-menu collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMobileMenu" aria-expanded="false" aria-controls="collapseMobileMenu"> <svg height="384pt" viewBox="0 -53 384 384" width="384pt" xmlns="http://www.w3.org/2000/svg">
        <path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        <path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        <path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        </svg> </button>
      </div>
      <!-- MOBILE LIST END --> 
      
      <!-- DESKTOP LIST START -->
      <ul class="headerlist">
        <li class="headerlist-item"> <a href="/faq" class="headerlist-link">More Help</a> </li>
        <li class="headerlist-item">|</li>
        <li class="headerlist-item"> <a href="/contact" class="headerlist-link">Contact us</a> </li>
      </ul>
      <!-- DESKTOP LIST END --> 
    </div>
    
    <!-- MOBILE COLLAPSED MENU START -->
    <div class="collapse" id="collapseMobileMenu">
      <ul class="headermobilelist">
        <li class="headermobilelist-item"> <a href="/faq" class="headermobilelist-link">More Help</a> </li>
        <li class="headermobilelist-item">|</li>
        <li class="headermobilelist-item"> <a href="/contact" class="headermobilelist-link">Contact us</a> </li>
      </ul>
    </div>
    <!-- MOBILE COLLAPSED MENU END --> 
  </div>
</header>
<!-- mentionsound HEADER END --> 

<!-- FAQ-BANNER SECTION START -->
<section class="help-banner">
  <div class="container-lg container-fluid">
    <div class="help-banner-content">
      <div class="help-title">
        <h2 class="title">What do you need help with?</h2>
      </div>
      <div class="help-search">
        <div class="searchbox">
          <button type="button" class="btn-search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg> </button>
          <div class="inputbox">
            <input type="search" class="searchfield" placeholder="Search...">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FAQ-BANNER SECTION END --> 

<!-- FAQ MAIN SECTION START -->
<main class="help-main">
  <div class="container-lg container-fluid">
    <div class="help-main-content">
      <div class="help-main-content-top"> <a href="" class="card-help"> Billing &amp; Account </a> <a href="" class="card-help"> Legal </a> <a href="" class="card-help"> Technical Issues </a> </div>
      <div class="help-main-content-bottom"> <a href="" class="card-info">
        <figure class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" class="custom-block__image replaced-svg">
          <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M11.5 5c0-1.934 5.148-3.5 11-3.5V18c-5.852 0-11 1.566-11 3.5 0-1.934-5.149-3.5-11-3.5V1.5c5.851 0 11 1.566 11 3.5zm0 0v16.375M9 7.24C7.39 6.623 5.113 6.177 2.5 6M9 10.24C7.39 9.623 5.113 9.177 2.5 9M9 13.24c-1.61-.617-3.887-1.063-6.5-1.24M9 16.24c-1.61-.617-3.887-1.063-6.5-1.24M14 7.24c1.61-.617 3.887-1.063 6.5-1.24M14 10.24c1.61-.617 3.887-1.063 6.5-1.24M14 13.24c1.61-.617 3.887-1.063 6.5-1.24M14 16.24c1.61-.617 3.887-1.063 6.5-1.24" fill="none"></path>
          </svg> </figure>
        <span class="title">All FAQs</span> </a> <a href="/contact" class="card-info">
        <figure class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
          <path d="M23.5 10.759c0 5.181-5.148 9.383-11.5 9.383-1.418 0-2.775-.21-4.029-.593l-6.608 3.076 2.588-5.166c-2.129-1.703-3.45-4.076-3.45-6.7 0-5.182 5.148-9.383 11.5-9.383S23.5 5.577 23.5 10.759zM7.5 8.5H14m-6.5 3H17m-9.5 3H17" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" fill="none"></path>
          </svg> </figure>
        <span class="title">Leave feedback</span> </a> <a href="/contact" class="card-info">
        <figure class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
          <g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
            <path d="M7.219 13.5H.5v-3h6.703m6.297 6.266V23.5h-3v-6.734m6.266-6.266H23.5v3h-6.75M10.5 7.218V.5h3v6.734"></path>
            <circle cx="12" cy="12" r="5"></circle>
            <path d="M13.5 1.607a10.506 10.506 0 0 1 8.893 8.893m-20.788 0A10.507 10.507 0 0 1 10.5 1.607m0 20.787A10.506 10.506 0 0 1 1.605 13.5m20.788 0a10.505 10.505 0 0 1-8.893 8.894"></path>
          </g>
          </svg> </figure>
        <span class="title">Contact us</span> </a> </div>
    </div>
  </div>
</main>
<!-- FAQ MAIN SECTION END --> 

<!-- mentionsound FOOTER START -->
<footer class="mentionsound-footer">
  <div class="container-lg container-fluid">
    <div class="mentionsound-footer-content">
      <div class="copyright">
        <p class="copyright-text"> <span class="copyright-icon">&copy;</span> 2021 mentionsound </p>
        <ul class="socialmenu">
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-twitter"></i> </a> </li>
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-linkedin-in"></i> </a> </li>
          <li class="socialmenu-item"> <a href="#" target="_blank" class="socialmenu-link"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- mentionsound FOOTER END --> 

<!-- BOOTSTRAP SCRIPT --> 
<script src="frontend/js/bootstrap.bundle.min.js"></script>
</body>
</html>