<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="uacWIBq0fOqJC8cCBeI6FzHVlZgWO31KZVMiswc4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="mentionsound">
    <title>License</title>
    <!-- SITE FAVICON -->
    <link rel="shortcut icon" href="" type="image/png">
    <!-- FONT AWESOME CDN -->
    <!-- BOOTSTRAP LINK -->
    <link rel="stylesheet" href="/frontend/css/all.min.css">
    <link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
    <!-- CUSTOM STYLESHEET LINK -->
    <link rel="stylesheet" href="/frontend/css/style.css">
    <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }

    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </head>
    <body>
<!-- HOME HEADER SECTION START -->
<div class="header-wrapper"> 
      <!-- HOME HEADER START -->
      <header class="home-header">
    <div class="headermenu"> 
          <!-- COMPANY BRAND START -->
          <figure class="brand"> <a href="/" class="logo"> <img src="frontend/images/logo.png" alt="site-logo"> </a> </figure>
          <!-- COMPANY BRAND END --> 
          
          <!-- MOBILE MENU HAMBURGER-ICON START -->
          <button class="hamburger-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg> </button>
          <!-- MOBILE MENU HAMBURGER-ICON END --> 
          
          <!-- MOBILE MENU SIDEBAR START -->
          <aside class="mobile-menu-sidebar">
        <div class="offcanvas offcanvas-start mobmenu" data-bs-scroll="true" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
              <div class="offcanvas-header"> 
            <!-- COMPANY BRAND START --> 
            <a href="/" class="logo"> <img src="frontend/images/logo-white.png" alt="site-logo"> </a> 
            <!-- COMPANY BRAND END -->
            
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
            </svg> </button>
          </div>
              <div class="offcanvas-body">
            <nav class="mobile-nav">
                  <div class="mobilemenu"> 
                <!-- MAIN MENU START -->
                <ul class="mobile-menu-list">
                      <li class="mobile-menu-list-item"> <a href="/products" class="mobile-menu-list-link">PRICING</a> </li>
                      <li class="mobile-menu-list-item"> <a href="#" class="mobile-menu-list-link">BLOG</a> </li>
                      <li class="mobile-menu-list-item"> <a href="/faq" class="mobile-menu-list-link">FAQ</a> </li>
                      <li class="mobile-menu-list-item"> <a href="/sfxhd" class="mobile-menu-list-link">SFXHD</a> </li>
                    </ul>
                <!-- MAIN MENU END -->
                
                <div class="divider"></div>
                
                <!-- LOGGED IN MENU START --> 
                
                <!-- LOGGED IN MENU END --> 
                
              </div>
                  
                  <!-- LOGIN-REGISTER MODAL LIST START -->
                  
                  <ul class="mobilelogin-register-list">
                <!-- CLICK FOR LOGIN -->
                
                <li class="mobilelogin-register-list-item"> <a href="/login" class="mobilelogin-register-list-link"> Login </a> </li>
                <!-- CLICK FOR REGISTER -->
                <li class="mobilelogin-register-list-item"> <a href="/register" class="mobilelogin-register-list-link"> Register </a> </li>
                <!-- CLICK FOR LOGIN -->
                
              </ul>
                  <!-- LOGIN-REGISTER MODAL LIST END --> 
                  
                </nav>
          </div>
            </div>
      </aside>
          <!-- MOBILE MENU SIDEBAR END --> 
          
          <!-- SEARCH FORM START -->
          <form class="search-form">
        <button class="btn-search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
        <div class="inputbox">
              <input type="search" placeholder="Search for sound effects" autocomplete="off" class="search-input" id="search-field">
              <div class="loaderbox">
            <div class="loading-spinner"></div>
          </div>
            </div>
        
        <!-- SEARCH SUGGESTIONS START -->
        <div class="search-suggestions">
              <ul class="suggestion-list" id="setsuggestionlist">
          </ul>
            </div>
        <!-- SEARCH SUGGESTIONS END -->
      </form>
          
          <!-- MOBILE SEARCH ICON START -->
          <div class="responsive-search">
        <button class="btn-responsivesearch"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
      </div>
          <!-- SEARCH FORM ICON END --> 
          
          <!-- HEADER MAIN NAV START -->
          <nav class="main-nav"> 
        <!-- MAIN MENU START -->
        <ul class="main-list">
              <li class="main-list-item"> <a href="/products" class="main-list-link">PRICING</a> </li>
              <li class="main-list-item"> <a href="#" class="main-list-link">BLOG</a> </li>
              <li class="main-list-item"> <a href="/faq" class="main-list-link">FAQ</a> </li>
              <li class="main-list-item"> <a href="/sfxhd" class="main-list-link">SFXHD</a> </li>
            </ul>
        <!-- MAIN MENU END --> 
        
        <!-- LOGIN REGISTER PAGE LINK -->
        <ul class="login-register-list">
              <!-- CLICK FOR LOGIN -->
              <li class="login-register-modal-list-item"> <a href="/login" class="login-register-modal-list-link"> Login </a> </li>
              <!-- DIVIDER -->
              <li class="login-register-list-item">/</li>
              <!-- CLICK FOR REGISTER -->
              <li class="login-register-modal-list-item"> <a href="/register" class="login-register-modal-list-link"> Register </a> </li>
            </ul>
        <!-- LOGIN-REGISTER PAGE END --> 
        <!-- LANGUAGE CHANGE SECTION START --> 
        
        <!-- LANGUAGE CHANGE SECTION END --> 
        
        <!-- SOCIAL-LIST START -->
        <ul class="social-list">
              <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-facebook-f"></i> </a> </li>
              <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-twitter"></i> </a> </li>
              <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-instagram"></i> </a> </li>
            </ul>
        <!-- SOCIAL-LIST END --> 
      </nav>
          <!-- HEADER MAIN NAV END --> 
        </div>
    
    <!-- MOBILE SEARCH BOX START -->
    <div class="responsive-search-box">
          <form class="responsive-search-form">
        <button class="btn-search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
        <div class="inputbox">
              <input type="search" placeholder="Search for sound effects" autocomplete="off" class="search-input" id="responsivesearch-field">
              <div class="loaderbox">
            <div class="loading-spinner"></div>
          </div>
            </div>
        
        <!-- SEARCH SUGGESTIONS START -->
        <div class="search-suggestions mobile-suggestions">
              <ul class="suggestion-list" id="setsuggestionlistmob">
          </ul>
            </div>
        <!-- SEARCH SUGGESTIONS END -->
      </form>
        </div>
    <!-- MOBILE SEARCH BOX END -->
    
    <div class="header-overlay"></div>
  </header>
      <!-- HOME HEADER END --> 
    </div>
<!-- HOME HEADER SECTION END --> 

<!-- LICENCE BANNER START -->
<section class="licence">
      <div class="container">
    <div class="licence-content">
          <h1 class="licence-title">mentionsound License</h1>
        </div>
  </div>
    </section>
<!-- LICENCE BANNER END --> 

<!-- LICENCE-MAIN SECTION START -->
<main class="billing-main">
      <div class="container">
    <div class="billing-main-content"> 
          <!-- LICENCE SIDEBAR START -->
          <aside class="billing-sidebar">
        <ul class="billinglist">
              <li class="billinglist-item"> <a href="/privacy" class="billinglist-link">Privacy Policy</a> </li>
              <li class="billinglist-item"> <a href="/license" class="billinglist-link active">Licence</a> </li>
              <li class="billinglist-item"> <a href="/tos" class="billinglist-link">Terms & Conditions</a> </li>
            </ul>
      </aside>
          <!-- LICENCE END START --> 
          
          <!-- LICENCE CONTENT START -->
          <div class="billing-invoices">
        <div class="puresoundlicence">
              <div class="licence-details">
            <h2 class="licencetitle">You May:</h2>
            <p class="licencetext"> - Use the sounds in any film, TV show, ad, video game, app, website etc. whether commercial or not, without paying additional royalties or other fees beyond the initial download or subscription cost. </p>
            <p class="licencetext"> - Remix or transform the sounds in any way (such as in a song). </p>
            <p class="licencetext"> - Copy or transmit the sounds and available content in various mediums or formats as long as the sounds and available content are included in another work or with other materials. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">mentionsound License- Full legal document</h2>
            <p class="licencetext"> This license is the basis under which all Works that appear in the mentionsound website are distributed and used. The mentionsound License is governed by the Terms of Service Agreement displayed on the website. </p>
            <p class="licencetext"> Any use of the Work other than as authorized under this License or Copyright Law is prohibited. </p>
            <p class="licencetext"> The Licensor grants the Licensee ("You") a worldwide, royalty-free, non-exclusive, perpetual license to exercise the rights that are contained herein in consideration of your acceptance of these license terms and conditions and our Terms and Conditions. </p>
            <p class="licencetext"> We encourage you to attribute the creators of the Works that you use in your projects or the mentionsound community where possible, but this remains entirely up to your discretion. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">1. Definitions</h2>
            <p class="licencetext"> a. "Collective Work" means a work, such as an audio compilation or anthology, in which the Work in its entirety in unmodified form, along with a number of other contributions, constituting separate and independent works in and of themselves, are assembled into a collective whole. A work that constitutes a Collective Work will not be considered a Derivative Work (as defined below) for the purposes of this License. </p>
            <p class="licencetext"> b. "Derivative Work" means a work based upon the Work, such as a remix, musical arrangement, dramatization, sound recording, art reproduction, synchronization with moving image, condensation, or any other form in which the Work may be recast, transformed, or adapted, except that a work that constitutes a Collective Work will not be considered a Derivative Work for the purpose of this License. </p>
            <p class="licencetext"> c. "Licensor" means mentionsound. </p>
            <p class="licencetext"> d. "Original Author" means the individual or entity who created the Work. </p>
            <p class="licencetext"> e. "Work" means the copyrightable work of authorship offered under the terms of this License (including the sounds, music loops, and one-shots). </p>
            <p class="licencetext"> </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle"></h2>
            <p class="licencetext"> f. "You" or “your’ means the end user (either an individual or entity) exercising rights under this License. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">2. Fair Use Rights.</h2>
            <p class="licencetext"> Nothing in this license is intended to reduce, limit, or restrict any rights arising from fair use, first sale or other limitations on the exclusive rights of the copyright owner under Copyright law or other applicable laws. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">3. License Grant.</h2>
            <p class="licencetext"> Subject to the terms and conditions of this License, Licensor hereby grants You a worldwide, royalty-free, non-exclusive, revocable, perpetual (for the duration of the applicable copyright) license to exercise the rights in the Work as stated below: </p>
            <p class="licencetext"> a. To remix or transform the sounds into a Derivative Work; </p>
            <p class="licencetext"> b. To copy and transmit the sounds and available content in various mediums or formats as long as the sounds and available content are included in another work or with other materials; </p>
            <p class="licencetext"> c. To use the sounds in any music, film, video game, website or similar medium whether commercial in nature, or not. </p>
            <p class="licencetext"> The above rights include the right to make such modifications as are technically necessary to exercise the rights in other media and formats. All rights not expressly granted to You under this License by Licensor, are hereby reserved by Licensor.
                  Please note the following license restrictions regarding our content. You may not: </p>
            <p class="licencetext"> i. Resell, rent, sublicense, transmit, and/or distribute or re-distribute the sounds 'as they are' in any context, this includes but is not exclusive to re-selling the sounds on CDs, torrents, or any other online distribution. </p>
            <p class="licencetext"> ii. Use any sound, music loop, or one-shots to create expansion packs to distribute them through any mobile applications, plugins, or similar products. This includes, but is not limited to putting our sounds and available content on any CD(s), websites, and/or digital platforms of any kind (either for a fee or for free). </p>
            <p class="licencetext"> iii. Use any sound, music loop, or one-shots for any trademark uses. This includes attempting to or actually registering any sound, music loop, or one-shots as a trademark for a business. (Uses in film alone as a fictional trademark, or ringtone, are permitted.) </p>
            <p class="licencetext"> iv. Use music loops or one-shots uploaded by “mentionsound Beats” (licensed by Loop Masters) in isolation, in unaltered form (as they are), due to licensing restrictions. For instance, you cannot use an unaltered music loop as a soundtrack for a film or video game. Using them as part of a music track, musical score, or creative composition within a film is permitted. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">4. Restrictions</h2>
            <p class="licencetext"> The license granted in Section 3 above is expressly made subject to and limited by the following restrictions: </p>
            <p class="licencetext"> You may copy, use, alter or change, make derivative works from, distribute, publicly display, publicly perform, and/or distribute any Work only under the terms of this License. You may not offer or impose any terms on the Work that alter or restrict the terms of this License or the recipients' exercise of the rights granted hereunder. You may not sublicense the Work. You may not distribute, publicly display, publicly perform, or publicly digitally perform the Work with any technological measures that control access or use of the Work in a manner inconsistent with the terms of this License. </p>
            <p class="licencetext"> In no circumstances whatsoever, may you copy all or a significant part of the Works in the mentionsound website with the purpose of redistributing them. </p>
            <p class="licencetext"> You may not use music loops (sounds labeled in the “mentionsound Beats licensed by Music Loops category) uploaded by ‘Loop Masters' in isolation and unmodified in any medium. All music loops must be used in the context of an original music composition. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle"></h2>
            <p class="licencetext"> </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">5. Representations, Warranties and Disclaimer</h2>
            <p class="licencetext"> Unless otherwise mutually agreed to by the parties in writing, Licensor offers the Work as is and makes no representations or warranties of any kind concerning the Work, express, implied, statutory or otherwise, including, without limitation, warranties of title, merchantability, fitness for a particular purpose, non-infringement, or the absence of latent or other defects, accuracy, or the presence of absence of errors, whether or not discoverable. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">6. Limitation on Liability</h2>
            <p class="licencetext"> Except to the extent required by applicable Law, in no event will the Licensor be liable to you on any legal theory for any special, incidental, consequential, punitive or exemplary damages arising out of this License or the use of the Work, even if the Licensor has been advised of the possibility of such damages. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">7. Termination</h2>
            <p class="licencetext"> This License and the rights granted hereunder will terminate automatically upon any breach by You of the terms of this License. Individuals or entities who have received Derivative Works from You under this License, however, will not have their licenses terminated provided such individuals or entities remain in full compliance with those licenses. Sections 1, 2, 5, 6, 7, and 8 will survive any termination of this License.
                  Subject to the above terms and conditions, the license granted here is perpetual (for the duration of the applicable copyright in the Work). Notwithstanding the above, Licensor reserves the right to release the Work under different license terms or to stop distributing the Work at any time; provided, however that any such election will not serve to withdraw this License (or any other license that has been, or is required to be, granted under the terms of this License), and this License will continue in full force and effect unless terminated as stated above. </p>
          </div>
              <div class="licence-details">
            <h2 class="licencetitle">8. Miscellaneous</h2>
            <p class="licencetext"> If any provision of this License is invalid or unenforceable under applicable law, it shall not affect the validity or enforceability of the remainder of the terms of this License, and without further action by the parties to this agreement, such provision shall be reformed to the minimum extent necessary to make such provision valid and enforceable. </p>
            <p class="licencetext"> No term or provision of this License shall be deemed waived and no breach consented to unless such waiver or consent shall be in writing and signed by the party to be charged with such waiver or consent. </p>
            <p class="licencetext"> This License, which is part of and is governed by, the Terms of Service Agreement, constitutes the entire agreement between the parties with respect to the Work licensed here. There are no understandings, agreements or representations with respect to the Work not specified therein. Licensor shall not be bound by any additional provisions that may appear in any communication from You. This License may only be modified by the mutual written agreement of the Licensor and You. </p>
          </div>
            </div>
      </div>
          <!-- LICENCE CONTENT END --> 
        </div>
  </div>
    </main>
<!-- LICENCE-MAIN SECTION END --> 

<!-- FOOTER SECTION START -->
<footer class="footer">
      <div class="container">
    <div class="footer-content">
          <div class="footer-infos"> 
        <!-- FOOTER LOGO START -->
        <figure class="footer-logo"> <a href="/" class="logo"> <img src="frontend/images/logo-white.png" alt="site-logo"> </a>
              <div id="google_translate_element" class="change-language"></div>
            </figure>
        <!-- FOOTER LOGO END --> 
        
        <!-- FOOTER NAV START -->
        <nav class="footer-nav">
              <div class="footlist-info">
            <h4 class="footlist-title">Product</h4>
            <ul class="footlist">
                  <li class="footlist-item"> <a href="/browse" class="footlist-link">Browse Sounds</a> </li>
                  <li class="footlist-item"> <a href="/products" class="footlist-link">Pricing</a> </li>
                  <li class="footlist-item"> <a href="/faq" class="footlist-link">FAQ</a> </li>
                </ul>
          </div>
              <div class="footlist-info">
            <h4 class="footlist-title">Company</h4>
            <ul class="footlist">
                  <li class="footlist-item"> <a href="/job" class="footlist-link">Jobs</a> </li>
                  <li class="footlist-item"> <a href="" class="footlist-link">Blog</a> </li>
                  <li class="footlist-item"> <a href="/education" class="footlist-link">Education</a> </li>
                  <li class="footlist-item"> <a href="/contact" class="footlist-link">Contact</a> </li>
                  <li class="footlist-item"> <a href="/affiliate" class="footlist-link">Affiliates</a> </li>
                </ul>
          </div>
              <div class="footlist-info">
            <h4 class="footlist-title">Legal</h4>
            <ul class="footlist">
                  <li class="footlist-item"> <a href="/license" class="footlist-link">Licence</a> </li>
                  <li class="footlist-item"> <a href="/tos" class="footlist-link">Terms of Use</a> </li>
                  <li class="footlist-item"> <a href="/privacy" class="footlist-link">Privacy Policy</a> </li>
                </ul>
          </div>
            </nav>
        <!-- FOOTER NAV END --> 
        
        <!-- FOOTER SOCIAL LIST START -->
        <ul class="social-list">
              <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-facebook-f"></i> </a> </li>
              <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-twitter"></i> </a> </li>
              <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-instagram"></i> </a> </li>
            </ul>
        <!-- FOOTER SOCIAL LIST END --> 
        
      </div>
          <div class="copyright">
        <p class="copyright-text">mentionsound is owned and operated by Peterfield Limited </p>
        <p class="copyright-text">Company number 12795957 </p>
        <p class="copyright-text">Office 28b Cinnamon Park Crab lane, Fearnhead Warrington WA2 0XP </p>
        <p class="copyright-text">Governed and controlled by the laws of the UK </p>
        <p class="copyright-text">mentionsound &copy; 2021, All rights reserved.</p>
      </div>
        </div>
  </div>
    </footer>
<!-- FOOTER SECTION END --> 

<!-- BOOTSTRAP SCRIPT --> 
<script src="frontend/js/bootstrap.bundle.min.js"></script> 
<script src="frontend/js/counter.js"></script> 
<script src="frontend/js/responsive-search.js"></script> 
<script src="frontend/js/jquery-3.5.1.min.js"></script> 
<script>

    $( "#search-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#search-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){

                       $('.search-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlist').html(htmld);
                    }else{
                       $('.search-suggestions').removeClass('show');
                    }

                }
            }
        });



    if($("#search-field" ).val().length === 0){
            $('.search-suggestions').removeClass('show');
        }


    });



    $( "#responsivesearch-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#responsivesearch-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){
                       $('.mobile-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlistmob').html(htmld);
                    }else{
                       $('.mobile-suggestions').removeClass('show');
                    }

                }
            }
        });



        if($("#responsivesearch-field" ).val().length === 0){
            $('.mobile-suggestions').removeClass('show');
        }


    });


</script>
</body>
</html>
