<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="csrf-token" content="uacWIBq0fOqJC8cCBeI6FzHVlZgWO31KZVMiswc4">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="mentionsound">
<title>Privacy Policy</title>
<!-- SITE FAVICON -->
<link rel="shortcut icon" href="" type="image/png">
<!-- FONT AWESOME CDN -->
<!-- BOOTSTRAP LINK -->
<link rel="stylesheet" href="frontend/css/all.min.css">
<link rel="stylesheet" href="frontend/css/bootstrap.min.css">
<!-- CUSTOM STYLESHEET LINK -->
<link rel="stylesheet" href="frontend/css/style.css">
<script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }

    </script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
<!-- HOME HEADER SECTION START -->
<div class="header-wrapper"> 
  <!-- HOME HEADER START -->
  <header class="home-header">
    <div class="headermenu"> 
      <!-- COMPANY BRAND START -->
      <figure class="brand"> <a href="/" class="logo"> <img src="frontend/images/logo.png" alt="site-logo"> </a> </figure>
      <!-- COMPANY BRAND END --> 
      
      <!-- MOBILE MENU HAMBURGER-ICON START -->
      <button class="hamburger-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg> </button>
      <!-- MOBILE MENU HAMBURGER-ICON END --> 
      
      <!-- MOBILE MENU SIDEBAR START -->
      <aside class="mobile-menu-sidebar">
        <div class="offcanvas offcanvas-start mobmenu" data-bs-scroll="true" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
          <div class="offcanvas-header"> 
            <!-- COMPANY BRAND START --> 
            <a href="/" class="logo"> <img src="frontend/images/logo-white.png" alt="site-logo"> </a> 
            <!-- COMPANY BRAND END -->
            
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
            </svg> </button>
          </div>
          <div class="offcanvas-body">
            <nav class="mobile-nav">
              <div class="mobilemenu"> 
                <!-- MAIN MENU START -->
                <ul class="mobile-menu-list">
                  <li class="mobile-menu-list-item"> <a href="products.html" class="mobile-menu-list-link">PRICING</a> </li>
                  <li class="mobile-menu-list-item"> <a href="/" class="mobile-menu-list-link">BLOG</a> </li>
                  <li class="mobile-menu-list-item"> <a href="faq.html" class="mobile-menu-list-link">FAQ</a> </li>
                  <li class="mobile-menu-list-item"> <a href="sfxhd.html" class="mobile-menu-list-link">SFXHD</a> </li>
                </ul>
                <!-- MAIN MENU END -->
                
                <div class="divider"></div>
                
                <!-- LOGGED IN MENU START --> 
                
                <!-- LOGGED IN MENU END --> 
                
              </div>
              
              <!-- LOGIN-REGISTER MODAL LIST START -->
              
              <ul class="mobilelogin-register-list">
                <!-- CLICK FOR LOGIN -->
                
                <li class="mobilelogin-register-list-item"> <a href="/login" class="mobilelogin-register-list-link"> Login </a> </li>
                <!-- CLICK FOR REGISTER -->
                <li class="mobilelogin-register-list-item"> <a href="/register" class="mobilelogin-register-list-link"> Register </a> </li>
                <!-- CLICK FOR LOGIN -->
                
              </ul>
              <!-- LOGIN-REGISTER MODAL LIST END --> 
              
            </nav>
          </div>
        </div>
      </aside>
      <!-- MOBILE MENU SIDEBAR END --> 
      
      <!-- SEARCH FORM START -->
      <form class="search-form">
        <button class="btn-search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
        <div class="inputbox">
          <input type="search" placeholder="Search for sound effects" autocomplete="off" class="search-input" id="search-field">
          <div class="loaderbox">
            <div class="loading-spinner"></div>
          </div>
        </div>
        
        <!-- SEARCH SUGGESTIONS START -->
        <div class="search-suggestions">
          <ul class="suggestion-list" id="setsuggestionlist">
          </ul>
        </div>
        <!-- SEARCH SUGGESTIONS END -->
      </form>
      
      <!-- MOBILE SEARCH ICON START -->
      <div class="responsive-search">
        <button class="btn-responsivesearch"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
      </div>
      <!-- SEARCH FORM ICON END --> 
      
      <!-- HEADER MAIN NAV START -->
      <nav class="main-nav"> 
        <!-- MAIN MENU START -->
        <ul class="main-list">
          <li class="main-list-item"> <a href="products.html" class="main-list-link">PRICING</a> </li>
          <li class="main-list-item"> <a href="/" class="main-list-link">BLOG</a> </li>
          <li class="main-list-item"> <a href="faq.html" class="main-list-link">FAQ</a> </li>
          <li class="main-list-item"> <a href="sfxhd.html" class="main-list-link">SFXHD</a> </li>
        </ul>
        <!-- MAIN MENU END --> 
        
        <!-- LOGIN REGISTER PAGE LINK -->
        <ul class="login-register-list">
          <!-- CLICK FOR LOGIN -->
          <li class="login-register-modal-list-item"> <a href="/login" class="login-register-modal-list-link"> Login </a> </li>
          <!-- DIVIDER -->
          <li class="login-register-list-item">/</li>
          <!-- CLICK FOR REGISTER -->
          <li class="login-register-modal-list-item"> <a href="/register" class="login-register-modal-list-link"> Register </a> </li>
        </ul>
        <!-- LOGIN-REGISTER PAGE END --> 
        <!-- LANGUAGE CHANGE SECTION START --> 
        
        <!-- LANGUAGE CHANGE SECTION END --> 
        
        <!-- SOCIAL-LIST START -->
        <ul class="social-list">
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-twitter"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
        <!-- SOCIAL-LIST END --> 
      </nav>
      <!-- HEADER MAIN NAV END --> 
    </div>
    
    <!-- MOBILE SEARCH BOX START -->
    <div class="responsive-search-box">
      <form class="responsive-search-form">
        <button class="btn-search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c1c1c1" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> </button>
        <div class="inputbox">
          <input type="search" placeholder="Search for sound effects" autocomplete="off" class="search-input" id="responsivesearch-field">
          <div class="loaderbox">
            <div class="loading-spinner"></div>
          </div>
        </div>
        
        <!-- SEARCH SUGGESTIONS START -->
        <div class="search-suggestions mobile-suggestions">
          <ul class="suggestion-list" id="setsuggestionlistmob">
          </ul>
        </div>
        <!-- SEARCH SUGGESTIONS END -->
      </form>
    </div>
    <!-- MOBILE SEARCH BOX END -->
    
    <div class="header-overlay"></div>
  </header>
  <!-- HOME HEADER END --> 
</div>
<!-- HOME HEADER SECTION END --> 

<!-- PRIVACY-POLICY BANNER START -->
<section class="privacy">
  <div class="container">
    <div class="privacy-content">
      <h1 class="privacy-title">Privacy Policy</h1>
    </div>
  </div>
</section>
<!-- PRIVACY-POLICY BANNER END --> 

<!-- PRIVACY-POLICY-MAIN SECTION START -->
<main class="billing-main">
  <div class="container">
    <div class="billing-main-content"> 
      <!-- PRIVACY-POLICY SIDEBAR START -->
      <aside class="billing-sidebar">
        <ul class="billinglist">
          <li class="billinglist-item"> <a href="privacy.html" class="billinglist-link active">Privacy Policy</a> </li>
          <li class="billinglist-item"> <a href="license.html" class="billinglist-link">Licence</a> </li>
          <li class="billinglist-item"> <a href="tos.html" class="billinglist-link">Terms & Conditions</a> </li>
        </ul>
      </aside>
      <!-- PRIVACY-POLICY END START --> 
      
      <!-- PRIVACY-POLICY CONTENT START -->
      <div class="billing-invoices">
        <div class="privacy-policy">
          <div class="privacy-details">
            <p class="note"> **PLEASE NOTE THAT OUR PRIVACY PRACTICES MAY DIFFER IN CERTAIN JURISDICTIONS, AS SET FORTH IN THIS PRIVACY POLICY. </p>
            <p class="text">Effective Date: May 25th, 2018</p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">INTRODUCTION</h2>
            <p class="privacy-text"> Thank you for visiting www.mentionsound.com! This privacy policy governs and explains mentionsound’s privacy policies and practices on our Site (the “Privacy Policy”). </p>
            <p class="privacy-text"> This Privacy Policy is incorporated into our Terms and Conditions by reference and is made a part thereof. All capitalized terms contained in our Privacy Policy that are not defined will have the meaning given them in our Terms and Conditions. As stated in our Terms and Conditions, we do not allow users under eighteen (18) years old. If you are under the age of eighteen (18), you are not authorized to use our Site, or our Services and Products. </p>
            <p class="privacy-text"> In this privacy policy, mentionsound may be defined as either: "mentionsound", "We", "Us" or "Our” as the context may require. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">UNITED STATES USERS</h2>
            <p class="privacy-text"> If you are a United States resident and/or are accessing, viewing, and/or using our Site in the United States, the following privacy terms will apply. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">COLLECTION OF INFORMATION & DATA FROM OUR USERS</h2>
            <p class="subtitle">Personal Information</p>
            <p class="privacy-text"> We may collect personally identifiable information that you provide to us through the Site. This is done via registration forms, surveys, applications, billing process, input questions, and other online fields, including, but not limited to, your name, email address(es), your mailing address, VAT number(s), telephone number(s), username(s), profile photos and images you upload, and/or other relevant personal information (collectively, the “Personal Information”). You may be required to provide us with Personal Information to complete your registration profile, view any of our Products and Services, and/or to access, download, and purchase our Products and Services through our Site. Some of your Personal Information submitted by you and collected by us may be stored and maintained by third-party data processors, including, but not limited to, Google. </p>
            <p class="subtitle">User Data</p>
            <p class="privacy-text"> We also collect and track certain information about you that may not constitute Personal Information. This includes, but may not be limited to: </p>
            <ul class="list">
              <li class="list-item">Collecting and tracking your session ID;</li>
              <li class="list-item">Your server domain names;</li>
              <li class="list-item">Date and time of your visit(s) to our Site;</li>
              <li class="list-item">The originating IP address(es);</li>
              <li class="list-item">Files viewed and downloaded by you;</li>
              <li class="list-item">Search engine(s) used by you to find our Site;</li>
              <li class="list-item">The type of operating system you use;</li>
              <li class="list-item">Various information and data on how you use our Site, such as the page(s) visited within our site, and the type of Web browser(s) for Users of our Site;</li>
              <li class="list-item">The language you use in your web browser(s);</li>
              <li class="list-item">Operating system(s) on your computer(s);</li>
              <li class="list-item">Your mobile device type and related technical information;</li>
              <li class="list-item">Your geo-location data;</li>
              <li class="list-item">The state or country from which you access our Site;</li>
              <li class="list-item">The Web pages visited (including the date and the time of a visit) immediately before and after visiting the Site using cookies;</li>
              <li class="list-item">The number of links you click within our Site;</li>
              <li class="list-item">The functions you use on our Site;</li>
              <li class="list-item">The specific Products and Services that you access on our Site;</li>
              <li class="list-item">The data you view, save on, or download from our Site;</li>
              <li class="list-item">Http headers;</li>
              <li class="list-item">Facebook Pixel-specific data (such as Pixel ID Facebook Cookie);</li>
              <li class="list-item">Optional values such as custom data events and conversion values;</li>
              <li class="list-item">And/or the number of times you view any advertisement(s) on our Site (the “User Data”).</li>
            </ul>
            <p class="privacy-text"> We also may aggregate any such User Data, which is typically collected, analyzed and maintained in aggregated and de-identified formats. </p>
            <p class="subtitle">Opting Out</p>
            <p class="privacy-text"> If you do not wish to provide any of the Personal Information described above, and/or if you prevent us from collecting and storing the User Data in accordance with this Privacy Policy, you may be unable to view, access, use and/or to obtain our Services and/or view and access our Site. You may choose to opt-out of certain provisions of this Privacy Policy by submitting a request in writing to admin@mentionsound.net. Specifically, you may opt out of providing your mailing address and unsubscribe to our mail and email marketing lists. Please note that this opt-out process may take some time to complete, consistent with applicable law. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">HOW WE COLLECT INFORMATION</h2>
            <p class="privacy-text"> To collect User Data, we use Google Analytics tracking on our Site. By accessing, viewing, and using our site, you agree to the Google Analytics Terms of Service. </p>
            <p class="privacy-text"> Using Google Analytics, we will collect Personal Information and User Data (collectively, the “Information”) about you with "cookies", or other electronic tools or other similar authenticating or tracking technologies on your computer’s and/or devices’ hard drive to collect traffic and User use information. </p>
            <p class="privacy-text"> If you prefer, you can usually set your browser to disable cookies, or to alert you when cookies are being sent. The help function on most browsers and mobile devices contains instructions on how to set your browser to notify you before accepting cookies, disable cookies entirely, or disable the collection of geo-location data. You may, at your option, disable cookies through each of your individual browsers. However, if you disable cookies or refuse to accept a request to place a cookie, it is possible that some parts of our Site, the data, information, content, materials and/or our Products and Services contained on or accessed through our Site, will not function properly. You agree that we are not liable for any portion of the Site that does not operate properly after you take these actions. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">Other 3rd Party Processors and Collected Information</h2>
            <p class="privacy-text"> We also use various other third party processors in order to provide you with our Products and Services, enhance your user experience on our Site, create user accounts, enable login functionality, provide you updates and various promotions and offers, provide receipts for Products and Services ordered, and enable our Site to function smoothly. These third party processors may at various times have access to, and store, Personal Information and User Data. Our processors currently are the following (“Processors”): FutureHosting, SiteGround, JCC, BrainTree, PayPal, Algolia, Google, Facebook, ActiveCampaign, Quora, Reddit, Outbrain, Twitter, ExitBee, LinkedIn, ZenDesk, Zapier, Nexcess, and SingleHop. By accessing and viewing our Site, providing your Information, and accessing our Products and Services, you agree to each of our Processor’s privacy policies. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">OUR USE OF COLLECTED INFORMATION</h2>
            <p class="privacy-text"> Other than to the Processors listed above, we do not sell or distribute your Personal Information or User Data to third parties. However, we will use the Information collected for the reasons listed above, as well as for other internal reasons, including, but not limited to: </p>
            <ul class="list">
              <li class="list-item">(a) monitoring, researching, and analyzing traffic flow on our Site;</li>
              <li class="list-item">(b) better service provision for Users of our Site;</li>
              <li class="list-item">(c) compilation and aggregation of anonymous information about usage of our Site and the Services;</li>
              <li class="list-item">(d) provide announcements about Site features, products, and updates, and/or</li>
              <li class="list-item">(e) provide various product and service promotions. In addition, we will use your Personal Information to maintain contact with you.</li>
            </ul>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">DISCLOSURE OF PERSONAL INFORMATION</h2>
            <p class="privacy-text"> We will only share your Information with our Processors, partners, subsidiaries, affiliates, and parent companies on an anonymous and aggregate basis where possible. However, we may also disclose your Information to unaffiliated third parties if we believe in good faith that such disclosure is necessary, including, to: (a) comply with the law or in response to a subpoena, court order, government request, and/or other legal process; (b) produce relevant documents or information in connection with litigation, arbitration, mediation, adjudication, government or internal investigations, and/or other legal or administrative proceedings; and/or (c) protect the interests, rights, safety, or property of our Users or others. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">SECURITY OF PERSONAL INFORMATION</h2>
            <p class="privacy-text"> Any Personal Information you provide to us is kept on secure servers. We use commercially reasonable administrative, technical, personnel, and physical measures and efforts: (a) to safeguard Personal Information against loss, theft, unauthorized use, disclosure, or modification; and (b) to ensure the integrity of the Personal Information. To help us protect your privacy, you should maintain the secrecy of any login ID(s) and password(s) you may have set up in connection with your viewing and access of our Site, and the use of our Services. </p>
            <p class="privacy-text"> Despite our efforts to protect your Personal Information, the confidentiality of any communication or material transmitted to or from us via our Site, the Services, or via e-mail cannot be, and is not, guaranteed. Accordingly, you agree that we are not responsible for the security of information transmitted to or from you via the Internet. </p>
            <p class="privacy-text"> In addition, to protect your Personal Information, never share your password and/or Personal Information with anyone. If you feel that your password or Personal Information has been discovered or compromised, you should change it immediately by logging onto our Site and accessing your profile to change your password. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">ACCESS TO, AND ABILITY TO CORRECT, PERSONAL INFORMATION</h2>
            <p class="privacy-text"> You may modify, correct, change or update your Personal Information by contacting us at admin@mentionsound.net. We will make commercially reasonable efforts to accommodate your request and typically process requests within thirty (30) calendar days from receipt of your request(s). However, we reserve the right to impose certain restrictions and requirements on such access requests, if allowed or required by law. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">STORING & DELETING YOUR INFORMATION</h2>
            <p class="privacy-text"> We store certain Information for various periods of time. Various data can be deleted by you in your account settings or by sending us a written request to admin@mentionsound.net. As stated above, we typically remove this information within thirty (30) calendar days from receipt of your request.
              For: </p>
            <ul class="list">
              <li class="list-item">(a) Your username, email address, and Session ID(s) – we store this until you request we delete this information;</li>
              <li class="list-item">(b) Your mailing address, and VAT number(s) (where applicable) – we store this until you either manually delete such information from your account settings, or until you request we delete this information;</li>
              <li class="list-item">(c) The last four (4) digits of your credit card and credit card expiration date – we store until you request we delete this information; and</li>
              <li class="list-item">(d) Billing address, email address, and PayPal recurring token for PayPal transactions - we store this until you request we delete this information.</li>
            </ul>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">FINANCIAL DATA</h2>
            <p class="privacy-text"> Please note that all financial data for carrying out various transactions is conducted currently through JCC, and thus such credit card and related data is collected, stored, and used according to JJC’s terms and conditions, and privacy policy. We also are using Braintree and your credit card and related data is collected, stored, and used according to Braintree’s terms and conditions, and privacy policy. By continuing to use our services, accessing our Site, and purchasing our Products and Services, you agree that </p>
            <ul class="list">
              <li class="list-item">(a) we can transfer your credit card information,</li>
              <li class="list-item">(b) purchase history, and</li>
              <li class="list-item">(c) related data from JCC to Braintree, as well as to other third party credit card processors of our choosing from time to time.</li>
            </ul>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">RIGHT TO CHANGE PRIVACY POLICY</h2>
            <p class="privacy-text"> If you choose to visit and/or use our Site in the United States, your visit and any dispute over privacy is subject to this Privacy Policy and our Terms and Conditions, including, but not limited to, limitations on damages, resolution of disputes through arbitration, and application of the laws of the State of New York. If you have any concern about privacy on our Site and/or the Products and Services available on or through our Site, please contact us with a thorough description, and we will try to resolve it. </p>
            <p class="privacy-text"> Our business changes and both this Privacy Policy and our Terms and Conditions may change accordingly. We reserve the right to change this Privacy Policy at any time. Please check our Site and this Policy frequently to see any changes. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account. Your continued use of our Site and/or the Services available on or through our Site will be interpreted as your acceptance of any such changes and updates to this Privacy Policy. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">YOUR CALIFORNIA PRIVACY RIGHTS</h2>
            <p class="privacy-text"> If you are a California resident, California Civil Code Section 1798.83 provides you with the right to request certain information regarding disclosure of your Personal Information to third parties for direct marketing purposes, including a description of the categories of Personal Information, be disclosed. In order to obtain such information, please email your request to admin@mentionsound.net. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">USERS FROM THE EUROPEAN UNION AND THE UK</h2>
            <p class="privacy-text"> If you are a resident in, or a national of, the EU and/or the UK, you confirm your acceptance of the Privacy Policy statements set out above but only insofar as they are not altered, changed or enhanced by the following provisions required by the EU General Data Protection Regulation. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">THE LAWFUL BASIS FOR PROCESSING YOUR PERSONAL DATA</h2>
            <p class="privacy-text"> In processing or holding your personal data in connection with the purposes set out in this Privacy Policy, We may rely on one or more of the following legal reasons, depending on the circumstances, where: </p>
            <ul class="list">
              <li class="list-item">We have obtained your prior informed consent to the processing (this legal basis is only used in relation to processing that is entirely voluntary, i.e it is not used for processing that is necessary or obligatory in any way) of your personal data;</li>
              <li class="list-item">The processing is necessary in connection with any contract that you may enter into with Us;</li>
              <li class="list-item">The processing is required by the applicable law;</li>
              <li class="list-item">The processing is necessary to protect the vital interests of any individual; or</li>
              <li class="list-item">We have a legitimate interest in carrying out the processing for the purpose of managing, operating or promoting Our business, and that legitimate interest is not overridden by your interests, fundamental rights, or freedoms.</li>
            </ul>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">ACCURACY OF PERSONAL DATA</h2>
            <p class="privacy-text"> We take all reasonable steps to ensure that: your personal data held or processed by Us is accurate and up to date; and than any of your personal data that is inaccurate is rectified or erased without delay.
              We may from time to time ask to you confirm the accuracy of your personal data.
              You may, at any time, ask Us correct any of your personal data that is incorrect. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">STORING AND PROTECTING YOUR PERSONAL DATA</h2>
            <p class="privacy-text"> We will store your personal data for as long as you hold an account with Us. After you have closed your account with Us we will store and keep you personal data for a reasonable period to maintain Our records and Our legal obligations to you.
              We have implemented appropriate technical and organisational security measures designed to protect your personal data against accidental or unlawful destruction, loss, alteration, unauthorised disclosure, unauthorised access, and other unlawful or unauthorised forms of Processing, in accordance with applicable law. You are however responsible for ensuring that any personal data sent by you to Us is sent securely. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">TRANSFER OF YOUR PERSONAL DATA</h2>
            <p class="privacy-text"> Due to the nature of Our business we may need to transfer your personal data to other jurisdictions and or countries. Where such a transfer occurs your personal data will be treated with reciprocal rights to those granted to you under the General Data Protection Regulation. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">CONSENT, OPT IN and OPT OUT</h2>
            <p class="privacy-text"> If you are an existing customer or user of Our services and/or our website and you continue to use Our services, following notice by Us of this revised Privacy Policy, your informed consent as to the new requirements set out herein is implied. As such if you wish to withdraw your consent then you can simply “opt out” as set out above.
              If you are new user of Our services and/or our website then you are required to opt in and give your informed consent to Our use of your personal data in accordance with the purposes of this Privacy Policy. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">RIGHT TO WITHDRAW YOUR CONSENT</h2>
            <p class="privacy-text"> Where you have given your consent to the processing of any of your personal data, you have the right to withdraw your consent at anytime for any reason, provided always that your account with Us is closed. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">LANGUAGE AND TRANSLATIONS</h2>
            <p class="privacy-text"> This Privacy Policy has been drafted in the English language and any translation hereof shall be deemed to be for information purposes only.
              In the event of any dispute arising in relation to any non-English translation of this Privacy Policy, the English language version shall prevail. </p>
          </div>
          <div class="privacy-details">
            <h2 class="privacy-title">END OF PRIVACY POLICY</h2>
          </div>
        </div>
      </div>
      <!-- PRIVACY-POLICY CONTENT END --> 
    </div>
  </div>
</main>
<!-- PRIVACY-POLICY-MAIN SECTION END --> 

<!-- FOOTER SECTION START -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-infos"> 
        <!-- FOOTER LOGO START -->
        <figure class="footer-logo"> <a href="/" class="logo"> <img src="frontend/images/logo-white.png" alt="site-logo"> </a>
          <div id="google_translate_element" class="change-language"></div>
        </figure>
        <!-- FOOTER LOGO END --> 
        
        <!-- FOOTER NAV START -->
        <nav class="footer-nav">
          <div class="footlist-info">
            <h4 class="footlist-title">Product</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="browse.html" class="footlist-link">Browse Sounds</a> </li>
              <li class="footlist-item"> <a href="products.html" class="footlist-link">Pricing</a> </li>
              <li class="footlist-item"> <a href="faq.html" class="footlist-link">FAQ</a> </li>
            </ul>
          </div>
          <div class="footlist-info">
            <h4 class="footlist-title">Company</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="job.html" class="footlist-link">Jobs</a> </li>
              <li class="footlist-item"> <a href="" class="footlist-link">Blog</a> </li>
              <li class="footlist-item"> <a href="education.html" class="footlist-link">Education</a> </li>
              <li class="footlist-item"> <a href="contact.html" class="footlist-link">Contact</a> </li>
              <li class="footlist-item"> <a href="affiliate.html" class="footlist-link">Affiliates</a> </li>
            </ul>
          </div>
          <div class="footlist-info">
            <h4 class="footlist-title">Legal</h4>
            <ul class="footlist">
              <li class="footlist-item"> <a href="license.html" class="footlist-link">Licence</a> </li>
              <li class="footlist-item"> <a href="tos.html" class="footlist-link">Terms of Use</a> </li>
              <li class="footlist-item"> <a href="privacy.html" class="footlist-link">Privacy Policy</a> </li>
            </ul>
          </div>
        </nav>
        <!-- FOOTER NAV END --> 
        
        <!-- FOOTER SOCIAL LIST START -->
        <ul class="social-list">
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-twitter"></i> </a> </li>
          <li class="social-list-item"> <a href="#" target="_blank" class="social-list-link"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
        <!-- FOOTER SOCIAL LIST END --> 
        
      </div>
      <div class="copyright">
        <p class="copyright-text">mentionsound is owned and operated by Peterfield Limited </p>
        <p class="copyright-text">Company number 12795957 </p>
        <p class="copyright-text">Office 28b Cinnamon Park Crab lane, Fearnhead Warrington WA2 0XP </p>
        <p class="copyright-text">Governed and controlled by the laws of the UK </p>
        <p class="copyright-text">mentionsound &copy; 2021, All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER SECTION END --> 

<!-- BOOTSTRAP SCRIPT --> 
<script src="frontend/js/bootstrap.bundle.min.js"></script> 
<script src="frontend/js/counter.js"></script> 
<script src="frontend/js/responsive-search.js"></script> 
<script src="frontend/js/jquery-3.5.1.min.js"></script> 
<script>

    $( "#search-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#search-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){
                       $('.search-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlist').html(htmld);
                    }else{
                       $('.search-suggestions').removeClass('show');
                    }

                }
            }
        });



    if($("#search-field" ).val().length === 0){
            $('.search-suggestions').removeClass('show');
        }


    });



    $( "#responsivesearch-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#responsivesearch-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){
                       $('.mobile-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlistmob').html(htmld);
                    }else{
                       $('.mobile-suggestions').removeClass('show');
                    }

                }
            }
        });



        if($("#responsivesearch-field" ).val().length === 0){
            $('.mobile-suggestions').removeClass('show');
        }


    });


</script>
</body>
</html>
