<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/head'); %>
</head>
<body>
<!-- HOME HEADER SECTION START -->
<div class="header-wrapper"> 
  <!-- HOME HEADER START -->
  <%- include('../layouts/header'); %>
  <!-- HOME HEADER END --> 
</div>
<!-- HOME HEADER SECTION END --> 

<!-- TERMS-OF-USE BANNER START -->
<section class="terms">
  <div class="container">
    <div class="terms-content">
      <h1 class="terms-title">Terms of Use</h1>
    </div>
  </div>
</section>
<!-- TERMS-OF-USE BANNER END --> 

<!-- TERMS-OF-USE-MAIN SECTION START -->
<main class="billing-main">
  <div class="container">
    <div class="billing-main-content"> 
      <!-- TERMS-OF-USE SIDEBAR START -->
      <aside class="billing-sidebar">
        <ul class="billinglist">
          <li class="billinglist-item"> <a href="/privacy" class="billinglist-link">Privacy Policy</a> </li>
          <li class="billinglist-item"> <a href="/license" class="billinglist-link">Licence</a> </li>
          <li class="billinglist-item"> <a href="/tos" class="billinglist-link active">Terms & Conditions</a> </li>
        </ul>
      </aside>
      <!-- TERMS-OF-USE END START --> 
      
      <!-- TERMS-OF-USE CONTENT START -->
      <div class="billing-invoices">
        <div class="termsof">
          <div class="terms-details">
            <h2 class="terms-title">Introduction - Purpose</h2>
            <p class="terms-text"> mentionsound is an online platform for downloading a wide variety of downloadable sounds. Audio is intrinsic to presentations, films, websites, science projects, and creative projects of all kinds. mentionsound provides the ability to search through and download various sounds, sound effects, audio clips, and samples to encourage the continuation of experimentation and creation. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Acceptance of Terms</h2>
            <p class="terms-text"> These Terms of Service apply to all visitors and users of the mentionsound website, including members who have paid a membership fee. By visiting and using the mentionsound website you signify your assent to both these Terms of Service and the mentionsound <a href="/privacy" class="link">Privacy Policy</a> .. </p>
            <p class="terms-text"> You affirm that you are either more than 18 years of age, an emancipated minor, or possess legal parental or guardian consent. You also represent that You are fully able and competent to agree to the terms, conditions, obligations, affirmations, representations, and warranties set out in these Terms of Service, and to abide by and comply with these Terms of Service. In any case, you affirm that you are over the age of 13, as the mentionsound website is not intended for children under 13. </p>
            <p class="termstext"> Children under the age of 13 are not permitted to use mentionsound and no part of the website is directed to children under the age of 13. If you are under the age of 13 please do not use this website. </p>
            <p class="terms-text"> If you download sounds from mentionsound, you also do so under the terms of the mentionsound License. If you do not agree with any of these terms you are not permitted to visit the website and use or purchase any of the content of mentionsound. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">User Accounts & Submissions</h2>
            <p class="terms-text"> In order to access some features of the website, or download sounds, you will have to create an account. You may never use another's account without mentionsound’s permission. When creating your account, you must provide accurate, up to date, and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password(s), billing information, and username(s) secure. You must notify mentionsound immediately of any breach of security or unauthorized use of your account(s). Although mentionsound will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of mentionsound or others due to any unauthorized uses and/or activity on your accounts. </p>
            <p class="terms-text"> You agree we may verify your identity at any time during or after your use of our Website. You hereby authorize us to make any inquiries we consider necessary to validate your identity. This may include asking you for further information, requiring you to provide your full address, and/or requiring you to take steps to confirm ownership of your email address or financial instruments, or verifying information you provide against third party databases or through other sources. </p>
            <p class="terms-text"> If: (1) you do not provide any requested information, as prompted, and/or (2) mentionsound can’t verify your identity, then you agree that mentionsound may refuse to allow access to our Website and Work. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Billing and Subscriptions</h2>
            <p class="terms-text"> If you choose to purchase a subscription to the website, we will collect information from you, including credit card information, needed to process your transaction and will charge your credit card accordingly. If you choose to subscribe to one of our subscription plans, your credit card or PayPal account will be charged based on the cost of the service as then set forth on the website from time to time. Your credit card information will be securely encrypted and stored only as a cryptographically-encoded token. Your charge will be authorized and charged at the time you order. You will be notified by email prior to the end of your chosen subscription term that your subscription will automatically renew. Your charge will be authorized and charged at the time you order. You will be notified by email prior to the end of your chosen subscription term that your subscription will automatically terminate and you will then have the opportunity to renew. mentionsound reserves the right to change its fees or billing methods at any time. We will provide timely notice to the affected users of any such changes. You agree to promptly provide mentionsound with any contact or billing information changes or updates, including but not limited to changes to your credit card number, billing address, and credit card expiration date. </p>
            <p class="terms-text"> If you subscribe to our various subscription plans (“Subscriptions”), you will be charged subscription fees, which are listed on our website (“Subscription Fees”). The Subscription Fees will be billed according to your subscription plan (for example: weekly, monthly, or annually). The Subscriptions and their billing cycles will be listed and described on the website. </p>
            <div class="text"> The Subscription Fees will automatically renew each billing cycle based on your Subscription. YOU AGREE THAT WE MAY AUTOMATICALLY RENEW YOUR SUBCRIPTION AND CHARGE YOU ON EACH BILLING CYCLE ACCORDING TO YOUR CHOSEN SUBSRIPTION PLAN. </div>
            <p class="terms-text"> It’s OK to cancel your Subscription at any time. If you cancel your Subscription after you have been billed for your specific Subscription’s current billing cycle, then that Subscription Fee will not be refunded to you. However, you will still have access to the Subscription Content until the end of your specific Subscription’s billing cycle. All sales are final and there are no refunds issued. </p>
            <p class="terms-text"> Purchases from mentionsound may be refunded within fifteen (15) calendar days, under the following conditions: 1) The refund is perceived to be requested in good faith. 2) Additionally, for annual subscribers - the user has not already downloaded any sounds on their account 3) For 5, 20, 100 and 200 sound accounts - the user has not downloaded any sounds from their account. All non-subscription download packs (5 Downloads and 20 Downloads), have credits that expire after 90 days from the date of purchase. This is required by credit card processors for risk/ accounting reasons. Remaining downloads purchased in our Monthly subscription will expire within 30 days of purchase if not used (or will renew if billing is on auto-renew). Refunds are issued at mentionsound's sole discretion. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Restricted Activities</h2>
            <p class="terms-text"> You are prohibited from any use of the website or its contents that would constitute a violation of any applicable law, regulation, rule or ordinance of any nationality, state, or locality or of any international law or treaty, or that could give rise to any civil or criminal liability. Your information and activities on the website shall not: (a) be false, inaccurate or misleading; (b) be fraudulent; (c) infringe any third party’s copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy; (d) violate any law, statute, ordinance or regulation; (e) contain any viruses, Trojan horses, or the like, or other computer programming routines that may damage or interfere with the website; and (f) create liability for us or cause us to lose (in whole or in part) the services of our ISPs or other suppliers. You may not copy, reproduce, modify, create derivative works from, distribute or publicly display any website content without the prior expressed permission of mentionsound. You may not consummate any transaction on the website, or that was initiated using our service, that could cause us to violate any applicable law, statute, ordinance or regulation. </p>
            <p class="terms-text"> You agree we may verify your identity at any time during or after your use of our Website. You hereby authorize us to make any inquiries we consider necessary to validate your identity. This may include asking you for further information, requiring you to provide your full address, proof of address (such as utility bills), phone number, and/or requiring you to take steps to confirm ownership of your email address or financial instruments (such as credit card), or verifying information you provide against third party databases or through other sources. </p>
            <p class="terms-text"> If: (1) you do not provide any requested information, as prompted, and/or (2) mentionsound can’t verify your identity, then you agree that mentionsound may refuse to allow access to our Website and Work without refund. </p>
            <p class="terms-text"> You agree not to use or launch any automated system, including without limitation, "robots," "spiders," "offline readers," or any other kind of software, that accesses the website in a manner that sends more request messages to the mentionsound servers in a given period of time than a human can reasonably produce in the same period by using a convention on-line web browser. mentionsound reserves the right to block any user when there is a serious indication of abuse of the library with a permanent ban without refund and without right of dispute from the user. mentionsound may block, restrict, disable, suspend or terminate your access to all or part of the Site and/or mentionsound Content at any time at mentionsound’s discretion, without prior notice or liability to you. Any conduct by you that, at mentionsound’s sole discretion, is deemed abusive to our site’s policies is strictly prohibited and may result in the termination of your access to the Site without further notice. </p>
            <p class="terms-text"> Notwithstanding the foregoing, mentionsound grants the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of creating publicly available searchable indices of the materials, but not caches or archives of such materials. mentionsound reserves the right to revoke these exceptions either generally or in specific cases. You agree not to collect or harvest any personally identifiable information, including account names, from the website, nor to use the communication systems provided by the website for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the website. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Copyright Infringement</h2>
            <p class="terms-text"> mentionsound does not permit copyright infringing activities and infringement of intellectual property rights on its website, and mentionsound will remove content if properly notified that such content infringes on another's intellectual property rights. mentionsound reserves the right to remove content without prior notice. mentionsound will also terminate a user's access to its website, if they are determined to be in breach of the License. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Report a Sound</h2>
            <p class="terms-text"> If you are a copyright owner or an agent thereof and believe that any content on our website infringes upon your copyright rights, you may submit a notification pursuant to mentionsound website with the following information in writing: </p>
            <p class="terms-text"> (i) A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; </p>
            <p class="terms-text"> (ii) Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; </p>
            <p class="terms-text"> (iii) Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the service provider to locate the material; </p>
            <p class="terms-text"> (iv) Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and, if available, an electronic mail; </p>
            <p class="terms-text"> (v) A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and </p>
            <p class="terms-text"> (vi) A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.mentionsound's designated representative to receive notifications of claimed infringement is Anastasios Frantzolas, resident of 6, V. Amalias Str., Kifisia 14561, Athens, Greece. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Warranty Disclaimer</h2>
            <p class="terms-text"> You agree that your use of the mentionsound website shall be at your sole risk. To the fullest extent permitted by law, mentionsound, its officers, directors, employees, and agents disclaim all warranties, express or implied, in connection with sounds of the website, the website itself and your use thereof. mentionsound makes no warranties or representations about the accuracy or completeness of the websites content or the content of any sites linked to this site and assumes no liability or responsibility for any (i) errors, mistakes, or inaccuracies of content, (ii) personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our website, (iii) any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein, (iv) any interruption or cessation of transmission to or from our website, (iv) any bugs, viruses, trojan horses, or the like which may be transmitted to or through our website by any third party, and/or (v) any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the mentionsound website. mentionsound does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the mentionsound website or any hyperlinked website or featured in any banner or other advertising, and mentionsound will not be a party to or in any way be responsible for monitoring any transaction between you and third-party providers of products or services. As with the purchase of a product or service through any medium or in any environment, you should use your best judgment and exercise caution where appropriate. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Limitation of Liability</h2>
            <p class="termtext"> THIS SECTION IS A LIMITATION OF OUR LIABILITY TO YOU. IT SPECIFICALLY LIMITS THE EXTENT TO WHAT WE MAY OWE YOU IN THE EVENT WE ARE LIABLE FOR ANY ACTION BY YOU AGAINST US. PLEASE READ THIS SECTION CAREFULLY. </p>
            <p class="termtext"> TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, mentionsound AND ITS SUPPLIERS SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR FOR DAMAGES RELATING TO TELECOMMUNICATION FAILURES, LOSS, CORRUPTION, SECURITY OR THEFT OF DATA, VIRUSES, SPYWARE, OR THE LIKE, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF mentionsound AND/OR ITS SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN mentionsound AND YOU. mentionsound AND ITS SUPPLIERS WOULD NOT BE ABLE TO HAVE PROVIDED THE SITE, THE MATERIALS AND/OR THE SERVICES WITHOUT SUCH LIMITATIONS. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, mentionsound’S LIABILITY TO YOU FOR ANY CAUSE WHATEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO A MAXIMUM OF $250.00. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Indemnity</h2>
            <p class="terms-text"> You agree to defend, indemnify and hold harmless mentionsound, its parent corporation, officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the mentionsound website; (ii) your violation of any term of these Terms of Service, the <a href="/privacy" class="link">Privacy Policy</a>, and/or the License; and/or (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right. This Section and indemnification obligation will survive these Terms of Service and your use of the mentionsound website. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">ELECTRONIC COMMUNICATIONS</h2>
            <p class="terms-text"> A. Emails. </p>
            <p class="terms-text"> We may (1) provide you with a way to contact us through the Website, and/or (2) request that you give us your email address before, during, or after any registration process, so that we may communicate electronically. </p>
            <p class="terms-text"> You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on the Website. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communication be in writing. </p>
            <p class="terms-text"> All electronic communications will be received or otherwise recorded by mentionsound, and are subject to archival, monitoring or review by and/or disclosure to, someone other than the recipient. All such electronic communications may involve the electronic transmission you provided to us of information that you may consider to be personal information. You agree and consent to such transmission of such information. You agree not to use e-mail to transmit any confidential personal information other than as requested by mentionsound. </p>
            <p class="terms-text"> B. Recording. </p>
            <p class="terms-text"> In connection with your use of the Website, you acknowledge and consent to the taping or any form of recording of any communication (electronic or otherwise) between you and mentionsound, its suppliers, and/or their representatives or agents. You acknowledge and consent to the recording, retention and use by mentionsound and its suppliers of any and all information and data contained in (1) any communication with mentionsound and its suppliers, and (2) any information input posted on or through the Website. </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Miscellaneous Provisions</h2>
            <p class="terms-text"> You agree that: (i) the mentionsound website shall be deemed solely based in UK; and (ii) the mentionsound website shall be deemed a passive website that does not give rise to personal jurisdiction over mentionsound, either specific or general, in jurisdictions other than UK. These Terms of Service shall be governed by the internal substantive laws of UK, without respect to its conflict of laws principles. Any claim or dispute between you and mentionsound that arises in whole or in part from the mentionsound website shall be decided exclusively by a court of competent jurisdiction located in UK. </p>
            <p class="terms-text"> These Terms of Service, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by mentionsound without restriction.These Terms of Service, together with the Privacy Notice at http://www.mentionsound.com/privacy, the mentionsound Licence at http://www.mentionsound.com/license and any other legal notices published by mentionsound on the website, shall constitute the entire agreement between you and mentionsound concerning the mentionsound website. If any provision of these Terms of Service is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Service, which shall remain in full force and effect. No waiver of any term of this these Terms of Service shall be deemed a further or continuing waiver of such term or any other term, and mentionsound's failure to assert any right or provision under these Terms of Service shall not constitute a waiver of such right or provision.mentionsound reserves the right to amend these Terms of Service at any time and without notice, and it is your responsibility to review these Terms of Service for any changes.
              Your use of the mentionsound website following any update, amendment, and/or change to these Terms of Service will signify your assent to and acceptance of its revised terms.
              You and mentionsound agree that any cause of action arising out of or related to the mentionsound website must commence within one (1) year after the cause of action accrues.
              Any cause of action arising from and/or related to these Terms of Service will be governed by UK law.
              Any dispute, controversy or claim arising out of or relating to this contract, or the breach, termination or invalidity thereof, shall be settled by arbitration in accordance with the CAMC Arbitration Rules. The appointing authority shall be the UK’ Arbitration and Mediation Centre. The number of arbitrators shall be one (1) in accordance with the provisions of the Arbitration Law of UK, Cap 4. The place of arbitration shall be London, UK. The language to be used in the arbitral proceedings shall be English </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">PETERFIELD LIMITED</h2>
            <p class="terms-text"> Office 28b Cinnamon Park,<br>
              Crab Lane
              Fearnhead
              Warrington
              England
              WA2 0XP </p>
          </div>
          <div class="terms-details">
            <h2 class="terms-title">Company</h2>
            <p class="terms-text">Number:12795957</p>
            <p class="terms-text">Governed and controlled by the laws of the United Kingdom & Ireland</p>
            <p class="terms-text">Telephone: +44 333 090 3010</p>
            <p class="terms-text">Email:admin@mentionsound.net</p>
          </div>
        </div>
      </div>
      <!-- TERMS-OF-USE CONTENT END --> 
    </div>
  </div>
</main>
<!-- TERMS-OF-USE-MAIN SECTION END --> 

<!-- FOOTER SECTION START -->
<footer class="footer">
  <%- include('../layouts/footer'); %>
</footer>
<!-- FOOTER SECTION END --> 

<!-- BOOTSTRAP SCRIPT --> 
<script src="frontend/js/bootstrap.bundle.min.js"></script> 
<script src="frontend/js/counter.js"></script> 
<script src="frontend/js/responsive-search.js"></script> 
<script src="frontend/js/jquery-3.5.1.min.js"></script> 
<script>

    $( "#search-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#search-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){
                       $('.search-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlist').html(htmld);
                    }else{
                       $('.search-suggestions').removeClass('show');
                    }

                }
            }
        });



    if($("#search-field" ).val().length === 0){
            $('.search-suggestions').removeClass('show');
        }


    });



    $( "#responsivesearch-field" ).keyup(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.ajax({
            type: 'GET',
            url: "search",
            data: { 'searchkey': $( "#responsivesearch-field" ).val() },
            //datatype: 'JSON',
            success: function (data) {
                var htmld = '';
                if (data.success) {
                    if(data.success.length > 0){
                       $('.mobile-suggestions').addClass('show');
                       for(var i = 0; i < data.success.length; i++){
                           console.log(data.success[i].name);
                           htmld += '<li class="suggestion-list-item">';
                           htmld += '<a href="/tag/'+data.success[i].slug +'" class="suggestion-list-link">'+data.success[i].name;
                           htmld += '</a>';
                           htmld += '</li>';

                       }
                       $('#setsuggestionlistmob').html(htmld);
                    }else{
                       $('.mobile-suggestions').removeClass('show');
                    }

                }
            }
        });



        if($("#responsivesearch-field" ).val().length === 0){
            $('.mobile-suggestions').removeClass('show');
        }


    });


</script>
</body>
</html>
